#!/usr/bin/env bash

dotenv_if_exists

if [[ -n "${ATLASSIAN_EMAIL:-}" && -n "${ATLASSIAN_API_KEY:-}" ]]; then
  export ATLASSIAN_BASE64_ENCODED_EMAIL_AND_TOKEN="$(echo -n "${ATLASSIAN_EMAIL}:${ATLASSIAN_API_KEY}" | base64 | tr -d '\n')"
fi
