[user]
    name = d-kimsuon
    email = d-kimuson@gmail.com
[alias]
    a = "add"
    c = "commit"
    cz = "!npx cz"
    st = "status"
    ps = "!git push origin HEAD"
    pl = "!git fetch && git merge origin/`git branch | grep '*' | cut -f 2 -d ' '`"
    his = log --pretty=format:\"%Cgreen%h %Creset%cr %Cblue[%cn] %Creset%s\" --graph --date=relative --all
[hub]
  protocol = ssh
[core]
  excludesFile = ~/.gitignore_global
[init]
  defaultBranch = main
[merge]
  ff = false
