#!/usr/bin/env bash

# ====================
# Local Variables
# ====================
export CHEZMOI_WORKING_TREE="{{ .chezmoi.workingTree }}"

# ====================
# Env Dependent
# ====================
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu") }}
export CFLAGS=-I/usr/include/openssl
export LDFLAGS=-L/usr/lib
{{- end }}

# ====================
# Zsh Completion
# ====================
fpath=(
  ${HOME}/.nix-profile/share/zsh/site-functions
  $fpath
)
autoload -Uz compinit && compinit

# ====================
# activate tools
# ====================
eval "$(mise activate zsh --shims)"
eval "$(starship init zsh)"
eval "$(direnv hook zsh)"

# ====================
# active other rc files
# ====================
source ${CHEZMOI_WORKING_TREE}/shell/sharedrc.sh
if [ -f ${CHEZMOI_WORKING_TREE}/shell/localrc.sh ]; then
  source ${CHEZMOI_WORKING_TREE}/shell/localrc.sh
fi
