{
  "mcpServers": {
    "modular-mcp": {
      "type": "local",
      "command": "npx",
      "tools": [
        "*"
      ],
      "args": [
        "-y",
        "@kimuson/modular-mcp@latest",
        "{{ .chezmoi.workingTree }}/config/modular-mcp.json"
      ]
    }
  }
}