model = "gpt-5.2-codex"
model_reasoning_effort = "medium"

[mcp_servers.modular-mcp]
command = "npx"
args = [
  "-y",
  "@kimuson/modular-mcp@latest",
  "{{ .chezmoi.workingTree }}/config/modular-mcp.json"
]

[mcp_servers.super-agent]
command = "node"
args = [ "{{ .chezmoi.workingTree }}/repos/super-agent/dist/cli/index.mjs", "mcp", "serve" ]
tool_timeout_sec = 3_600

[projects."{{ .chezmoi.workingTree }}/repos/claude-code-viewer"]
trust_level = "trusted"

[projects."{{ .chezmoi.workingTree }}/home-server"]
trust_level = "trusted"

[projects."{{ .chezmoi.workingTree }}/repos/super-agent"]
trust_level = "trusted"

[projects."{{ .chezmoi.workingTree }}/.local/share/chezmoi"]
trust_level = "trusted"

[notice]
hide_gpt5_1_migration_prompt = true
hide_rate_limit_model_nudge = true

[notice.model_migrations]
"gpt-5.1-codex" = "gpt-5.2-codex"

[features]
skills = true
child_agents_md = true
web_search_request = true
web_search_cached = true
